$white-color: #FFFFFF;
$black-color: #000000;
$primary-color: #FF4359;
$secondary-color: #FC435933;
$gray-color: #AFAFAF;

$md: 769px;
$lg: 1025px;
$xl: 1281px;

@mixin md {
    @media screen and (min-width: $md) {
        @content;
    }
}


@mixin lg {
    @media screen and (min-width: $lg) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: $xl) {
        @content;
    }
}